{% extends 'base.html' %}
{% block content %}

    <br>
    <br>
<div class="col-md-6 offset-md-3">
<h1>Select Query</h1>
    <br>
    <div class="list-group">
      <a href="{% url 'top_10_scorecards' %}" class="list-group-item list-group-item-action">Top 10 Highest Scorecards By Grand Total</a>
      <a href="{% url 'top_10_lowest' %}" class="list-group-item list-group-item-action">Top 10 Lowest Scorecards By Grand Total</a>
      <a href="{% url 'avg_grand_total' %}" class="list-group-item list-group-item-action">Average Grand Total By User</a>
      <a href="{% url 'all_scorecards' %}" class="list-group-item list-group-item-action">All Scorecards</a>
    </div>
</div>

{% endblock %}